<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MyBehavior">
					<!--删之可禁用 http 发布-->
					<serviceMetadata httpGetEnabled="true" />
					<serviceThrottling
						maxConcurrentSessions  = "10000"
						maxConcurrentInstances = "10000"
						maxConcurrentCalls     = "10000" />
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<bindings>
			<netTcpBinding>
				<binding name="netTcpBindingConfig" sendTimeout="00:00:02">
					<reliableSession enabled="true" />
					<security mode="None" />
				</binding>
			</netTcpBinding>

			<netNamedPipeBinding>
				<binding name="netNamedPipeBindingConfig" >
					<security mode = "None" />
				</binding >
			</netNamedPipeBinding>
		</bindings>

		<services>
			<service behaviorConfiguration="MyBehavior" name="DataCenter.DataCenterService">
				<endpoint binding="netTcpBinding"
								  bindingConfiguration="netTcpBindingConfig"
								  contract="DataCenter.IDataCenter" />

				<endpoint binding="netNamedPipeBinding"
								  bindingConfiguration="netNamedPipeBindingConfig"
								  contract="DataCenter.IDataCenter" />
				<host>
					<baseAddresses>
						<add baseAddress="http://127.0.0.1:22221/DataCenter" />
						<add baseAddress="net.tcp://127.0.0.1:22222/DataCenter" />
						<add baseAddress="net.pipe://localhost/DataCenter" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>